<!-- public/main.ejs -->
 
<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scheme List</title>
</head>
 
<body>
    <h1>Scheme List</h1>
    <ul>
        <% scheme.forEach(scheme=> { %>
            <li>Name: <%= scheme.name %>  Done: <% if (scheme.done == 1) { %> ✔ <% } else { %> ✘ <% } %>  Check: <% if (scheme.check == 1) { %>  ✔ <% } else { %> ✘ <% } %>
            </li>
            <% }); %>
    </ul>
</body>
 
</html>